<h1>Hello!</h1>

<p>Enter new Stylist:</p>

<form action="/stylists" method="post">
  <label for="name">Assign a stylist to your hair salon:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add stylist</button>
</form>

<% if @stylists.any?() %>
  <p>Click on a hair stylist to see their clients:</p>

  <ul>
    <% @stylists.each() do |hair_styler| %>
      <li><a href="/stylist/<%= hair_styler.id() %>"><%= hair_styler.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are hair cutters yet!</p>
<% end %>